<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>generate all the pythonservices jobs</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.plugins.buildblocker.BuildBlockerProperty plugin="build-blocker-plugin@1.7.3">
      <useBuildBlocker>false</useBuildBlocker>
      <blockLevel>GLOBAL</blockLevel>
      <scanQueueFor>DISABLED</scanQueueFor>
      <blockingJobs></blockingJobs>
    </hudson.plugins.buildblocker.BuildBlockerProperty>
  </properties>
  <scm class="hudson.plugins.perforce.PerforceSCM" plugin="perforce@1.3.36">
    <configVersion>2</configVersion>
    <p4User>nishbuild</p4User>
    <p4Passwd></p4Passwd>
    <p4Port>perforce:1666</p4Port>
    <p4Client>jenkins-ori-pkg-builder</p4Client>
    <projectPath>//WebServices/... //jenkins-ori-pkg-builder/WebServices/...
//VXI/... //jenkins-ori-pkg-builder/VXI/...
//vv/... //jenkins-ori-pkg-builder/vv/...
//Vision/... //jenkins-ori-pkg-builder/Vision/...
//VISA/... //jenkins-ori-pkg-builder/VISA/...
//Training-InternalSupport/... //jenkins-ori-pkg-builder/Training-InternalSupport/...
//ThirdPartyExports/... //jenkins-ori-pkg-builder/ThirdPartyExports/...
//TestStand/... //jenkins-ori-pkg-builder/TestStand/...
//TestPoint/... //jenkins-ori-pkg-builder/TestPoint/...
//TesterOS/... //jenkins-ori-pkg-builder/TesterOS/...
//TechComm/... //jenkins-ori-pkg-builder/TechComm/...
//SustainingEngineering/... //jenkins-ori-pkg-builder/SustainingEngineering/...
//SQLDBA/... //jenkins-ori-pkg-builder/SQLDBA/...
//SPT/... //jenkins-ori-pkg-builder/SPT/...
//spec/... //jenkins-ori-pkg-builder/spec/...
//SolutionsEngineeringNI/... //jenkins-ori-pkg-builder/SolutionsEngineeringNI/...
//Solutions/... //jenkins-ori-pkg-builder/Solutions/...
//SignalExpress/... //jenkins-ori-pkg-builder/SignalExpress/...
//Sales/... //jenkins-ori-pkg-builder/Sales/...
//sa/... //jenkins-ori-pkg-builder/sa/...
//RuggedRio/... //jenkins-ori-pkg-builder/RuggedRio/...
//RfProtocols/... //jenkins-ori-pkg-builder/RfProtocols/...
//PXI/... //jenkins-ori-pkg-builder/PXI/...
//ProductTestReports/... //jenkins-ori-pkg-builder/ProductTestReports/...
//Perforce/... //jenkins-ori-pkg-builder/Perforce/...
//ParametricDataScripts/... //jenkins-ori-pkg-builder/ParametricDataScripts/...
//ops/... //jenkins-ori-pkg-builder/ops/...
//NISpy/... //jenkins-ori-pkg-builder/NISpy/...
//NIShanghai/... //jenkins-ori-pkg-builder/NIShanghai/...
//NIReports/... //jenkins-ori-pkg-builder/NIReports/...
//NIInstallers/... //jenkins-ori-pkg-builder/NIInstallers/...
//NI-RIO/... //jenkins-ori-pkg-builder/NI-RIO/...
//NI-Motion/... //jenkins-ori-pkg-builder/NI-Motion/...
//MStudio/... //jenkins-ori-pkg-builder/MStudio/...
//Motion/... //jenkins-ori-pkg-builder/Motion/...
//MobileDevices/... //jenkins-ori-pkg-builder/MobileDevices/...
//Misc/... //jenkins-ori-pkg-builder/Misc/...
//MI/... //jenkins-ori-pkg-builder/MI/...
//Metrology/... //jenkins-ori-pkg-builder/Metrology/...
//MeasurementStudio/... //jenkins-ori-pkg-builder/MeasurementStudio/...
//Measurements/... //jenkins-ori-pkg-builder/Measurements/...
//MCC/... //jenkins-ori-pkg-builder/MCC/...
//MAX/... //jenkins-ori-pkg-builder/MAX/...
//Manufacturing/... //jenkins-ori-pkg-builder/Manufacturing/...
//LocalizationExchange/... //jenkins-ori-pkg-builder/LocalizationExchange/...
//Localization/... //jenkins-ori-pkg-builder/Localization/...
//IT/... //jenkins-ori-pkg-builder/IT/...
//IOtech/... //jenkins-ori-pkg-builder/IOtech/...
//Integration/... //jenkins-ori-pkg-builder/Integration/...
//InstrumentDriver/... //jenkins-ori-pkg-builder/InstrumentDriver/...
//IndustrialComm/... //jenkins-ori-pkg-builder/IndustrialComm/...
//HWT/... //jenkins-ori-pkg-builder/HWT/...
//hwservices/... //jenkins-ori-pkg-builder/hwservices/...
//HiQ/... //jenkins-ori-pkg-builder/HiQ/...
//grps/... //jenkins-ori-pkg-builder/grps/...
//gpib/... //jenkins-ori-pkg-builder/gpib/...
//FIS/... //jenkins-ori-pkg-builder/FIS/...
//EvergreenData/... //jenkins-ori-pkg-builder/EvergreenData/...
//DSP/... //jenkins-ori-pkg-builder/DSP/...
//DSAApps/... //jenkins-ori-pkg-builder/DSAApps/...
//DITAOut/... //jenkins-ori-pkg-builder/DITAOut/...
//DevSuite/... //jenkins-ori-pkg-builder/DevSuite/...
//DAQmx/... //jenkins-ori-pkg-builder/DAQmx/...
//DAQConfig/... //jenkins-ori-pkg-builder/DAQConfig/...
//DAQ/... //jenkins-ori-pkg-builder/DAQ/...
//CVI/... //jenkins-ori-pkg-builder/CVI/...
//CustomerEducation/... //jenkins-ori-pkg-builder/CustomerEducation/...
//CustomEngineering/... //jenkins-ori-pkg-builder/CustomEngineering/...
//ComputerBasedInstruments/... //jenkins-ori-pkg-builder/ComputerBasedInstruments/...
//ComponentWorks/... //jenkins-ori-pkg-builder/ComponentWorks/...
//ComplianceEngineering/... //jenkins-ori-pkg-builder/ComplianceEngineering/...
//CompactRIO/... //jenkins-ori-pkg-builder/CompactRIO/...
//CodeMart/... //jenkins-ori-pkg-builder/CodeMart/...
//build/... //jenkins-ori-pkg-builder/build/...
//BQA/... //jenkins-ori-pkg-builder/BQA/...
//ATSO/... //jenkins-ori-pkg-builder/ATSO/...
//ATC/... //jenkins-ori-pkg-builder/ATC/...
//AST/... //jenkins-ori-pkg-builder/AST/...
//AssistantFramework/... //jenkins-ori-pkg-builder/AssistantFramework/...
//asics/... //jenkins-ori-pkg-builder/asics/...
//ASIC/... //jenkins-ori-pkg-builder/ASIC/...
//ActiveXContainer/... //jenkins-ori-pkg-builder/ActiveXContainer/...
//Academic/... //jenkins-ori-pkg-builder/Academic/...
</projectPath>
    <projectOptions>noallwrite clobber nocompress unlocked nomodtime rmdir</projectOptions>
    <p4SysDrive>C:</p4SysDrive>
    <p4SysRoot>C:\WINDOWS</p4SysRoot>
    <browser class="hudson.plugins.perforce.browsers.P4Web">
      <url>http://jabba:8472/browser/perforce/</url>
      <p4WebEndShite>?ac=22</p4WebEndShite>
      <p4DifEndShite>?ac=19</p4DifEndShite>
      <p4ClEndShite>?ac=10</p4ClEndShite>
    </browser>
    <p4Tool></p4Tool>
    <useClientSpec>false</useClientSpec>
    <useStreamDepot>false</useStreamDepot>
    <forceSync>false</forceSync>
    <alwaysForceSync>true</alwaysForceSync>
    <dontUpdateServer>false</dontUpdateServer>
    <disableAutoSync>false</disableAutoSync>
    <disableChangeLogOnly>false</disableChangeLogOnly>
    <disableSyncOnly>false</disableSyncOnly>
    <showIntegChanges>false</showIntegChanges>
    <useOldClientName>false</useOldClientName>
    <createWorkspace>true</createWorkspace>
    <updateView>false</updateView>
    <dontRenameClient>false</dontRenameClient>
    <updateCounterValue>false</updateCounterValue>
    <dontUpdateClient>true</dontUpdateClient>
    <exposeP4Passwd>false</exposeP4Passwd>
    <wipeBeforeBuild>false</wipeBeforeBuild>
    <quickCleanBeforeBuild>false</quickCleanBeforeBuild>
    <restoreChangedDeletedFiles>false</restoreChangedDeletedFiles>
    <wipeRepoBeforeBuild>false</wipeRepoBeforeBuild>
    <firstChange>-1</firstChange>
    <fileLimit>0</fileLimit>
    <excludedFilesCaseSensitivity>true</excludedFilesCaseSensitivity>
    <slaveClientNameFormat>${basename}</slaveClientNameFormat>
    <lineEndValue>local</lineEndValue>
    <useViewMask>true</useViewMask>
    <viewMask>//IndustrialComm/SESSAutomation/SoftwareSourceCode/ori_engine/components.yaml
//IndustrialComm/SESSAutomation/SoftwareSourceCode/ori_engine/labels/...
//Measurements/daqvv/components/daqimation/jenkins/export/1.0/...</viewMask>
    <useViewMaskForPolling>true</useViewMaskForPolling>
    <useViewMaskForSyncing>true</useViewMaskForSyncing>
    <useViewMaskForChangeLog>true</useViewMaskForChangeLog>
    <pollOnlyOnMaster>false</pollOnlyOnMaster>
  </scm>
  <assignedNode>ori-pkg-builder</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers>
    <hudson.triggers.SCMTrigger>
      <spec>H/15 * * * *</spec>
      <ignorePostCommitHooks>false</ignorePostCommitHooks>
    </hudson.triggers.SCMTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <customWorkspace>c:\perforce</customWorkspace>
  <builders>
    <hudson.tasks.BatchFile>
      <command>&#xd;
call rmdir /s /q &quot;%WORKSPACE%/generated_pythonservices_groovy_files&quot;&#xd;
mkdir &quot;%WORKSPACE%/generated_pythonservices_groovy_files&quot;&#xd;
cd &quot;%WORKSPACE%/generated_pythonservices_groovy_files&quot;&#xd;
pip install daqimation_jenkins --pre --upgrade -i http://ori-pypi.ni.corp.natinst.com/simple --trusted-host ori-pypi.ni.corp.natinst.com&#xd;
jobdsl-gen --p4user nishbuild --p4client jenkins-ori-pkg-builder --components &quot;%WORKSPACE%/IndustrialComm/SESSAutomation/SoftwareSourceCode/ori_engine/components.yaml&quot; --machine_labels &quot;%WORKSPACE%/IndustrialComm/SESSAutomation/SoftwareSourceCode/ori_engine/labels&quot;&#xd;
&#xd;
</command>
    </hudson.tasks.BatchFile>
    <javaposse.jobdsl.plugin.ExecuteDslScripts plugin="job-dsl@1.66">
      <targets>generated_pythonservices_groovy_files/__*.groovy</targets>
      <usingScriptText>false</usingScriptText>
      <sandbox>false</sandbox>
      <ignoreExisting>false</ignoreExisting>
      <ignoreMissingFiles>false</ignoreMissingFiles>
      <failOnMissingPlugin>false</failOnMissingPlugin>
      <unstableOnDeprecation>false</unstableOnDeprecation>
      <removedJobAction>IGNORE</removedJobAction>
      <removedViewAction>IGNORE</removedViewAction>
      <removedConfigFilesAction>IGNORE</removedConfigFilesAction>
      <lookupStrategy>JENKINS_ROOT</lookupStrategy>
    </javaposse.jobdsl.plugin.ExecuteDslScripts>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>